{% extends 'base.html' %} {% block bodyblock%}

<div class="container">
  <div class="row">
    <div class="col">
      <br />
      <br />
      <!-- form to upload the input image -->
      <h3 class="display-8">Gender Classification</h3>
      <p>
        Upload an image (.jpg, .jpeg, .png), our model will detect face first
        and detect gender based on face (Male or Female).
      </p>

      <form action="#" method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <input type="file" class="form-control" name="image_name" req />
          <input
            type="submit"
            value="Upload & Predict"
            class="btn btn-outline-primary"
          />
        </div>
      </form>
    </div>
    <div class="col-8">
      <!-- report: prediction image, reporting(gray scale, eigen image, probability score) -->

      {% if fileupload %}
      <!-- predicted image -->
      <br />
      <br />
      <h3 class="display-8">Predicted Image</h3>
      <img
        src="/static/predict/prediction_image.jpg"
        class="image-fluid"
        width="500"
        alt=""
      />
      <!-- reporting -->
      <hr />
      <br />
      <table class="table table-hover table-strip">
        <tr>
            <th>Detection Face</th>
            <th>Eigen Image</th>
            <th>Prediction Gender</th>
            <th>Score</th>
            {% for element in report %}
            <tr>
                <td>
                    <img
                    src="/static/predict/{{element[0]}}"
                    class="image-fluid"
                    height="100"
                    alt=""
                    />
                </td>
                <td>
                    <img
                    src="/static/predict/{{element[1]}}"
                    class="image-fluid"
                    height="100"
                    alt=""
                    />
                </td>
                <td>{{element[2]}}</td>
                <td>{{element[3]}}</td>
            </tr> 
            {% endfor %}
        </tr>
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock%}
